* {
    margin: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section>.container {
    width: 100%;
    margin: auto;
    display: block;
}
#banner img {
    max-width: 100%;
}
#job-info .container, #project .project-body, #about .container, .certificate-body .text, #certificate .certificate-body, #certificate .certificate-body .item{
    display: grid;
    grid-template-columns: 1fr;
}
section>.container{
    padding:0px;
}
#footer ul{
    text-align: center;
}
#footer li a, #nav-bar .container .avatar{
    display: none;
}
#nav-bar .container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
#nav-bar a{
    text-align: left;
}
.certificate-body .image img{
    width: 100%;
}
.certificate-body, .item-even, .certificate-body:nth-child(2){
    border: 0;
    padding: 10px;
}
.certificate-body .item{
    border-bottom: 2px solid orange;
}
.certificate-body:nth-last-child(){
    border: 0;
}

#digital{
    display: grid;
    grid-template-columns: 1fr;
}
.goal .item {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px dotted #1b1b1b;
  }
  .goal-flag, .team-icon {
    grid-column: 1;
    text-align: center;
  }
  
  .goal-content, .team-content {
    grid-column: 1;
  }
  .scopes .scopes-body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .team .item, .timeline .item, .timeline .item{
    display: grid;
    grid-template-columns: 1fr;
  }
  .timeline .timeline-number{
    margin: 0;
  }